body {
    background-color:darkslategrey;
}

.popup {
    display: none;
}


.main {
    padding: 10px;
    font-size: 15px;
}
h2 {
    display: flex;
    justify-content: center;
}

.book_container {
    display: flex;
    justify-content: center;
}

.new {
    display: flex;
    justify-self: center;
    background-color: dodgerblue;
    font-size: 15px;
    border-radius: 10%;
    color: white;
}

#form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}